<footer th:fragment="footer" class="container-fluid fixed-bottom bg-altBlack">
    <section>
        <ul class="hstack gap-3 justify-content-center m-0 p-0">
            <li class="">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
    </section>
</footer>