<main>
  <section
    class="bg-altGrey text-white rounded border border-2 border-darkGreen position-absolute top-50 start-50 translate-middle">
    <div class="container p-0">
      <div class="text-center my-4">
        <h2>Login</h2>
      </div>
      <div class="row mx-5">
        <div class="col p-0 m-2">
          <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">

            <ng-container *ngIf="errorMessage">
              <p class="text-danger">Invalid username or password</p>
            </ng-container>
            

            <div>
              <label for="username" class="form-label mt-3">Username</label>
              <input formControlName="username" name="username" type="text" class="form-control mb-3" id="username"
                placeholder="example@example.com">
            </div>

            <ng-container *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].invalid">
              <p *ngIf="loginFormGroup.controls['username'].errors.required || loginFormGroup.controls['username'].errors.minlength" class="text-danger">
                Username should be at least 3 characters long!
              </p>

            </ng-container>

            <div>
              <label for="password" class="form-label mt-3">Password</label>
              <input formControlName="password" type="password" name="password" class="form-control mb-3" id="password"
                placeholder="Password">
            </div>

            <ng-container
              *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
              <p *ngIf="loginFormGroup.controls['password'].errors.required" class="text-danger">
                Password is required!
              </p>
            </ng-container>

            <div id="hoverable-btn">
              <a (click)="handleLogin()" type="submit"><span>LOGIN</span></a>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>
</main>